@charset "UTF-8";

table {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  table-layout: fixed;
}

thead,th {
  background-color: #319c4a;
  line-height: 26px;
}

thead tr th {
  padding: 10px;
  border: 1px solid black;
}

tbody tr th,tbody tr td {
  padding: 10px;
  border: 1px solid black;
}

tbody tr td {
  line-height: 22px;
  font-size: 16px;
}

tbody tr {
  background-color: #d5ffc7;
}

tbody tr:nth-child(even) {
  background-color: #bcbcbc;
}
tbody tr:last-child {
  border-top: 1px double #ffffff;
}